@model TodoIndexViewModel
@{
	ViewBag.Title = "TodoList";
}
    <div class="menu">
    <div class="container">
        <h1>What's The Plan For Today</h1>
        <div class="input">
            <input type="text" placeholder="ADD A TODO">
            <button type="button">ADD</button>
        </div>
        <div class="text">
           <ul>
               <div class="li" style="background-color: #137EFF;">
                   <li>Burxon</li> 
                   <div class="icons">
                       <i class="fa fa-check-circle-o " id="checkbtn"></i>
                       <i class="fa fa-times-circle-o" id="timesbtn"></i>
                       <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                   </div>
                </div>

                <div class="li" style="background-color: #FE5711;">
                    <li>Burxon</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>

                 <div class="li" style="background-color: #7E03F9;">
                    <li>Burxon</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>

                 <div class="li" style="background-color: #FB05A4;">
                    <li>Burxon</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>

                 <div class="li" style="background-color:#127DFF;">
                    <li>Burxon</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>

                 <div class="li" style="background-color: #7E03F9;">
                    <li>Burxon</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>
           </ul>

        </div>
    </div>
</div>