@model TodoIndexViewModel
@{
    ViewBag.Title = "TodoList";
    var x=Model.Todos.ToList();
    x.Add(new Todo() { Id = 7, IsCheckend = false, Name = "Nazarxon", deta = new DateTime(2015, 12, 31), Color = "fff000" });
}
    <div class="menu">
    <div class="container">
        <h1>What's The Plan For Today</h1>
        <form method="post">
            <div class="input">
                <input type="text" placeholder="ADD A TODO">
                <button type="submit">ADD</button>
            </div>
        </form>
        <div class="text">
           <ul>
               @foreach (var todo in x)
               {
                var isCheckend=todo.IsCheckend?"text-decoration:line-through;":"";
               <div class="li" style="background-color: #@todo.Color;">
                   <li style=@isCheckend>@todo.Name</li> 
                   <div class="icons">
                       <i class="fa fa-check-circle-o " id="checkbtn"></i>
                       <i class="fa fa-times-circle-o" id="timesbtn"></i>
                       <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                   </div>
                </div>
               }
                    <!--
                 <div class="li" style="background-color: #7E03F9;">
                    <li>Sevinchbek</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>

                 <div class="li" style="background-color: #FB05A4;">
                    <li>Sevinchbek</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>

                 <div class="li" style="background-color:#127DFF;">
                    <li>Sevinchbek</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>

                 <div class="li" style="background-color: #7E03F9;">
                    <li>Sevinchbek</li> 
                    <div class="icons">
                        <i class="fa fa-check-circle-o " id="checkbtn"></i>
                        <i class="fa fa-times-circle-o" id="timesbtn"></i>
                        <i class="fa fa-pencil-square-o" id="pencilbtn"></i>
                    </div>
                 </div>
                        -->
           </ul>

        </div>
    </div>
</div>